<!doctype html>
<html lang="en">
	<head>
	    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
		<title><%- config.site.title %><%- resource.title ? ": " + resource.title : null %></title>
		<meta name="description" content="<%= resource.description %>" />
		<meta name="author" content="<%= resource.author %>" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="translucent black" />
		<meta name="apple-mobile-web-app-title" content="<%- config.site.title %>">
		<link rel="icon" type="image/png" href="/public/images/apple-touch-icon.png" />
		<link rel="apple-touch-startup-image" href="/public/images/startup.png" />
		<link rel="apple-touch-icon" href="/public/images/apple-touch-icon.png" />
		<link rel="apple-touch-icon" href="/public/images/apple-touch-icon-ipad.png" sizes="72x72" />
		<link rel="apple-touch-icon" href="/public/images/apple-touch-icon-iphone4.png" sizes="114x114" />
		<link rel="alternate" type="application/rss+xml" title="<%- config.site.title %>" href="/index.rss">
		<link type="text/plain" rel="author" href="/humans.txt" />
		<link rel="stylesheet" type="text/css" href="/public/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="/public/css/default.css" />
		<% resource.css.forEach(function(style){%><link rel="stylesheet" type="text/css" href="/public/css/<%- style %>.css" /><%}) %>
	</head>
	<body>
		<button id="menuButton" class="menu glyphicon glyphicon-align-justify"><span>Menu</span></button>
		<section id="main" class="container-fluid" role="main">
			<header id="header" role="header" class="container">
				<a href="https://github.com/ijoey/devchitchat/issues" title="devchitchat issues" class="fa">Issues</a>
				<a href="https://github.com/ijoey/devchitchat" title="devchitchat repo" class="fa fa-github">Code</a>
				<a href="/" title="devchitchat index"><%= config.site.title %></a>
				<% if(request.isAuthenticated()){%>
				<a href="/welcome" title="Welcome room">Welcome</a>
				<%}%>
			</header>
			<%- output %>
		</section>
		<% resource.js.forEach(function(script){%><script type="text/javascript" src="<%= script %>"></script><%}) %>
	</body>
</html>
