@import url("//fonts.googleapis.com/css?family=Pacifico");
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
html,body{

}
html {
	-webkit-text-size-adjust: 100%;
	font-size: 100%;
}
body {
	color: black;
	line-height: 1.7857;
	font-weight: normal;
	font-style: normal;
	font-family: "Proxima Nova", "helvetica neue", helvetica, verdana, arial, tahoma, sans-serif;
}

h1{
	font-size: 40px;
}
h2{
	font-size: 30px;
}
h3{
	font-size: 25px;
}
h4, p{
	font-size: 20px;
}
h5{
	font-size: 20px;
}
h6{
	font-size: 0px;
}
h1,h2,h3,h4,h5,h6
, .h1, .h2, .h3, .h4, .h5, .h6{
	text-align: left;
	line-height: 1em;
	letter-spacing: 1px;
	padding: 0;
	margin: 0 0 .5em 0;
	font-weight: 400;
	font-family: "Myriad Set Pro", "Helvetica Neue", "Helvetica", "Arial", "Verdana", "sans-serif";
}
:focus {outline:none;}
::-moz-focus-inner {border:0;}
#main{
	padding-right: 0;
	padding-left: 0;
	margin-right: 0;
	margin-left: 0;
}
aside.nav{
	width: 100px;
}
aside.nav nav{
	width: 20%;
	height: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	background: rgba(255,255,255,.1);
}
aside.nav nav a{
	display: block;
	font-size: 55px;
	width: 100%;
	height: 75px;
	text-align: center;
	line-height: 75px;
	position: fixed;
	top: 89%;
	left: -40%;
}
aside.nav nav a:hover{
	text-decoration: none;
}
aside.nav nav a span{
	display: none;
}

.glyphicon-power:before {
  content: "\e017";
}
.on{
	color: white;
}
.off{
	color: gray;
}
.member{
	width: 10vw;
	float: left;
	text-align: center;
}
.member h2{
	text-align: center;
}
body{
	background: black;
}
form .file{
	height: 100px;
}
.right{
	position: absolute;
	right: 75px;
	top: 0;
}
.nav{
	height: 100%;
	width: 75px;
}
.nav img{
	width: 75px;
}
.roster{
	color: white;
}
#messagesView{
	box-shadow: 0 0 46px 0 rgba(0,0,0,2.5);
}
#header a {
	color: #fefefe;
	padding-right: 6px;
}
@media (min-width: 1200px){
	.container {
		width: 1000px;
	}
}
@media (max-width: 768px){
	#comment {
		width: 100%;
	}
	#header{
		display: none;
	}
}
.container{
	padding:0;
	width: 80%;
	margin-right: 0;
}
#comment{
	position: fixed;
	z-index: 5;
	background:#333;
}
#comment form{
	padding: 0;
	margin: 0;
}
#comment input{
	background: rgba(255,255,255,.1);
	font-size: 1.5em;
	height: 2em;
	width: 100%;
	border: 2px;
	padding: 0 0 0 25px;
	margin: 0;
	color: white;
	font-weight: normal;
}

.discussion{
	padding-top:125px !important;
	position: relative;
}
