.header .home{
	width: 57px;
	height: 57px;
	display: block;
	position: fixed;
	top: 1em;
	left: 1em;
}
.header .home span{
	display: none;
}
.identify{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 10em;
	left: 0;
	right: 0;
}
.identify h2{
	font-size: 3em;
	margin-left: 1em;
	text-align: center;
}
.identify .buttons{
	text-align: center;
}
.identify .buttons button{
	font-size: 3em;
}
.identify .buttons form{
	margin-bottom: 1em;
}
.hero a{
	color: #fefefe;
	padding-right: 6px;
}
.hero h1, .identify h2{
	font-family: 'Pacifico', cursive;
}
.hero, .identify{
	color: rgb(255,255,255);
}
.identify .buttons button{
	color: rgb(0,0,0);
}
.hero, .hero h1{
	text-align: center;
	width: 100%;
}
.hero h1{
	font-size: 5em;
	margin-top: 30px;
}
.hero p{
	text-align: center;
	font-size: 2em;
}
footer.hero{
	position: fixed;
	bottom: 0;
	width: 100%;

}
