.profile .background{
	display: none;
}
.row.profile{
	margin-right: 0;
	margin-left: 0;
}
.profile .container{
	width: 50%;
	position: relative;
	color: white;
}

.profile .avatar{
	position: absolute;
	top: 5px;
	left: -75px;
	width: 75px;
	height: 75px;
	z-index: 3;
}
.profile .avatar img{
	width: 100%;
	height: 100%;
}
.profile .avatar input{
	width: 100%;
}
.profile .header{
	padding: 0;
	margin: 0;
}
.profile .container{
	z-index: 2;
	border-radius: 15px;
	margin-left: 100px;
	padding: 10px;
}
.member .avatar{
	width: 100px;
	height: 100px;
}
.profile{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-position: top left;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: black;
}
